.euro{
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 45px;
}
.euro .section-a img{
    height: 150px;
   
}
.para1{
    color: var(--third-color);
}