.euro{
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 9999;
    position: relative;

}
.euro .section-a img{
    height: 150px;
   
}
.para1{
    color: var(--third-color);
}