.expense-list-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 30px 0px;
    cursor: pointer;
}

.expense-item-icon-name{
    display: flex;
    align-items: center;
}


.icon{
    margin-right: 10px;
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
    border-radius: 15px;
}

.icon-a{
    background-color: var(--secondary-color);
}

.icon-b{
    background-color: var(--third-color);
}

.icon-c{
    background-color: var(--fourth-color);
}


