.header{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
    align-items: center;
   
}

.box{
    padding: 20px 30px;
    border-radius: 10px;
}

.box-dark{
    background-color: var(--dark-bg);
    color: var(--third-color);
}
