.header{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    align-items: center;
    z-index: 1000;
}

.box{
    padding: 20px 20px;
    border-radius: 10px;
}

.box-dark{
    background-color: var(--dark-bg);
    color: var(--third-color);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.logo img{
    height: 50px;
}

.logo .heading4{
    font-size: 18px;
}